@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --background-clr: #262626;
  --header-bg-clr: #1e1e1ef2;
  --base-clr: #006666;
  --secondary-clr: #546f71;
  --card-bg-clr: #ffffff;
  --sidebar-bg-clr: #2f2f2f;
  --text-primary-clr: #ffffff;
  --text-scd-clr: #000000;
  --text-muted-clr: #bdbdbd;
  --hover-clr: #ffffff1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}


html.dashboard,
body.dashboard {
  overflow-x: hidden;
  overflow-y: auto;

}

body {
  background-color: var(--background-clr);
  color: var(--text-scd-clr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100vw;
  padding: 0.7rem;
  text-align: center;
  display: flex;
  position: sticky;
  left: 0;
}

.tittle-locadora {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header img {
  width: 6rem;
  position: static;
  margin-left: 2rem;
}


.tittle-locadora {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  display: flex;
  flex: 1;
  min-height: 0;
}

main {
  flex: 1;
  padding: 1rem;
  background-color: var(--secondary-clr);
}

.main-container {
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title>h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}


.card>span {
  font-size: 20px;
  font-weight: 600;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner>p {
  font-size: 18px;
}

.card-inner>span {
  font-size: 35px;
}

.charts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.charts-card {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}

#pie-chart,
#bar-chart {
  width: 100%;
  max-width: 100%;
  z-index: 0;
}



@media (max-width: 1024px) {
  body.dashboard{
        background-color: var(--secondary-clr);

  }

  .main-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .charts {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .main-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .charts-card {
    padding: 15px;
  }

  .chart-title {
    font-size: 18px;
  }
}

@media (max-width: 539px) {
  .main-cards {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 0.8rem;
  }

  .charts {
    grid-template-columns: 1fr;
  }
}