@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --background-clr: #262626;
  --header-bg-clr: #1e1e1ef2;
  --base-clr: #006666;
  --secondary-clr: #546f71;
  --card-bg-clr: #ffffff;
  --sidebar-bg-clr: #2f2f2f;
  --text-primary-clr: #ffffff;
  --text-scd-clr: #000000;
  --text-muted-clr: #bdbdbd;
  --hover-clr: #ffffff1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-clr);
  color: var(--text-scd-clr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100vw;
  padding: 0.7rem;
  text-align: center;
  display: flex;
  position: sticky;
  left: 0;
}

.tittle-locadora {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header img {
  width: 6rem;
  position: static;
  margin-left: 2rem;
}


.tittle-locadora {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  display: flex;
  flex: 1;
  min-height: 0;
}

#sidebar {
  background-color: var(--sidebar-bg-clr);
  width: 15rem;
  min-height: 100vh;
  padding-top: 2rem;
  position: sticky;
  top: 0;
}

#sidebar ul {
  list-style: none;
}

#sidebar a {
  text-decoration: none;
  color: var(--text-primary-clr);
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1rem;
}

#sidebar a:hover {
  background: var(--hover-clr);
  border-radius: 1rem;
}

#sidebar ul li.active a {
  color: var(--base-clr);

  svg {
    fill: var(--base-clr);
  }
}

#sidebar ul li#logout-button {
  margin-top: 3rem;
}

main {
  flex: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  background-color: var(--secondary-clr);
}

.card {
  background-color: var(--card-bg-clr);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 0;
}

.table-card,
.chart-card,
.most-rented-card,
.top-rented-card {
  grid-column: span 2;
}

.table-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4f6161;
  padding: 0.75rem 0;
}

.table-row.header {
  font-weight: bold;
  border-bottom: 2px solid #5d7373;
}


@media(max-width: 1024px) {

  .table-card,
  .chart-card,
  .most-rented-card,
  .top-rented-card {
    grid-column: span 1;
  }

  .content-box {
    grid-template-columns: 1fr;
  }

  header {
    display: none;
  }

  main {
    width: 100vw;
    height: 100vh;
    padding: 2em 1em 60px;
  }

  .container {
    border: none;
    padding: 0;

  }

}

@media(max-width: 768px) {

  body {
    background-color: var(--secondary-clr);
  }


  .tittle-locadora {
    justify-content: center;
  }

  .content-box {
    grid-template-columns: 1fr;
  }

  header {
    display: none;
  }

  main {
    width: 100vw;
    height: 100vh;
    padding: 2em 1em 60px;
  }

  .container {
    border: none;
    padding: 0;

  }

  #sidebar {
    height: 60px;
    width: 100%;
    min-height: unset;
    padding: 0;
    position: fixed;
    bottom: 0;
    top: unset;
    border-top: 1px solid var(--base-clr);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sidebar ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 60px;
    overflow-x: auto;
  }

  #sidebar ul li span {
    display: none;
  }

}

@media(max-width: 480px) {

  main {
    width: 100vw;
    height: 100vh;
    padding: 2em 1em 60px;
  }

  .card {
    padding: 1rem;
  }

  .table-row span {
    font-size: 0.85rem;
  }

  .top-rented-card .top-item,
  .table-card .table-content .table-row {
    font-size: 0.9rem;
  }

}