@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #262626;
    color: white;

}


.header{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    
    & h1{
        font-size: 3rem;
    }
}

.container{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: #546F71;
}

.menu{
    background-color: #2F2F2F;
    width: 20rem;
    height: 100vh;
    display: grid;
    
}

.menu-items{
    padding-top: 5rem;
}

.page-button{
    width: 100%;
    padding: 1rem 2rem;

    display: flex;
    padding: 5px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    
}

.page-button:hover{
        background-color: blue;
    }